/* style for blogs page  */
.variable-difference,.function-difference,.templetes-string,.array-methods{
  margin-top: 100px;
}
.array-methods{
  background-color: aliceblue;
  padding: 10px;
}
.templetes-string{
  background-color: cadetblue;
  padding: 10px;
}
table{
  width: 100%;
}

thead tr{
height: max-content;
text-align: center;
  background-color: #d5d5ff;
}

tbody tr:nth-child(even){
  height: 80px;
  background-color:#fa8f6f28
}
tbody tr:nth-child(odd){
  height: 80px;
  background-color: #64646465;
}
td,th{
  padding: 10px;
}
.news{
  color: blue;
  margin-right: 15px;
  margin-bottom: 0px;
}

.blogs{
  color: gray;
  margin-right: 15px;
  margin-bottom: 0px;
}


/* padding and hover effect for all categories  */
#all-categories a{
  padding: 10px;
  font-size: 20px;
  color: gray;
}

#all-categories a:hover{
color: blue!important;
background-color:#d5d5ff;
}

/* news descripting text ellipsis for one line and three line  */
.text-elipsis-2{
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

/* news information rating  */
.star-1,.star-2,.star-3{
color: tomato;
}

/* show details arrow hover effect  */
#details{
  padding: 5px 10px;
}
#details:hover{
  border-radius: 10px;
  background-color: rgba(100, 98, 102, 0.548);
}


/* some text need to cursor setup for pointing  */
.news, .blogs,a{
  cursor: pointer;
}